body {
  background: #000;
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
}

#wrapper {
  width: 50vmin;
  height: 50vmin;
  display: grid;
  gap: 9px;
  grid-template-columns: repeat(36, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background: #000;
}

.box {
  background: #fff;
}

/* Rad 1 & 2 */
#div1  { grid-column: 1 / 3;   grid-row: 1 / 3; }
#div2  { grid-column: 3 / 7;   grid-row: 1 / 3; }
#div3  { grid-column: 7 / 17;  grid-row: 1 / 3; }
#div4  { grid-column: 17 / 30; grid-row: 1 / 3; }
#div5  { grid-column: 30 / 33; grid-row: 1 / 3; }
#div6  { grid-column: 33 / 37; grid-row: 1 / 3; }

/* Rad 3 & 4 */
#div7  { grid-column: 1 / 3;   grid-row: 3 / 5; }
#div8  { grid-column: 3 / 7;   grid-row: 3 / 5; }
#div9  { grid-column: 7 / 17;  grid-row: 3 / 5; }
#div10 { grid-column: 17 / 21; grid-row: 3 / 5; }
#div11 { grid-column: 21 / 30; grid-row: 3 / 5; }
#div12 { grid-column: 30 / 33; grid-row: 3 / 5; }
#div13 { grid-column: 33 / 37; grid-row: 3 / 6; }

/* Rad 5 */
#div14 { grid-column: 1 / 3;   grid-row: 5 / 7; }
#div15 { grid-column: 3 / 7;   grid-row: 5 / 6; }
#div16 { grid-column: 7 / 21;  grid-row: 5 / 6; }
#div17 { grid-column: 21 / 30; grid-row: 5 / 6; }
#div18 { grid-column: 30 / 33; grid-row: 5 / 6; }

/* Rad 6 */
#div19 { grid-column: 3 / 7;   grid-row: 6 / 7; }
#div20 { grid-column: 7 / 21;  grid-row: 6 / 7; }
#div21 { grid-column: 21 / 33; grid-row: 6 / 7; }
#div22 { grid-column: 33 / 37; grid-row: 6 / 7; }

/* Farger */
.yellow { background: #ffff00; }
.red    { background: #f40b0e; }
.blue   { background: #0000fe; }
