.wrapper {
    width: 70vw;
    margin: auto;
    border: 2px dashed red;
}

table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 1rem;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

.Hoveddel {
    border: 2px solid gray;
}

.SV {
    background-color: rgb(217, 45, 14);
    width: calc(25.3%);
}

.AP {
    background-color: rgb(255, 38, 0);
    width: calc(22.4%);
}

.H {
    background-color: rgb(88, 137, 227);
    width: calc(10.4%);
}

.FrP {
    background-color: rgb(26, 36, 235);
    width: calc(10.4%);
}

.V {
    background-color: rgb(9, 169, 44);
    width: calc(25.3%);
}