body {
    background-color: hsl(2, 12%, 3%);
    color: azure;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 0;
    border: 1px solid gray;
    background-color: rgb(14,14,14);
}

.navbar .links {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
