.wrapper {
    width: 70vw;
    margin: auto;
}

table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 1rem;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

.Hoveddel {
    border: 2px solid gray;
}

.SV {
    background-color: rgb(126, 3, 1);
    width: calc(25.3%);
    color: white;
}

.AP {
    background-color: rgb(253, 3, 0);
    width: calc(22.4%);
    color: white;
}

.H {
    background-color: rgb(2, 1, 255);
    width: calc(10.4%);
    color: white;
}

.FrP {
    background-color: rgb(0, 82, 155);
    width: calc(10.4%);
    color: white;
}

.V {
    background-color: rgb(0, 128, 1);
    width: calc(9.6%);
    color: white;
}