body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

h1,
h2 {
    color: #444;
}

div {
    margin-top: 10px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    max-width: 400px;
}

input,
select {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 90%;
}

button {
    padding: 5px 15px;
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #999;
}

button:hover {
    background-color: #ccc;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}