body {
    background-color: #000;
    display: grid;
    place-items: center;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "logo  title  title title title title title reklame"
    "side  main   main  main  main  main  main  reklame"
    "side  main   main  main  main  main  main  reklame"
    "side  main   main  main  main  main  main  reklame"
    "side  main   main  main  main  main  main  reklame"
    "side  main   main  main  main  main  main  reklame"
    "side  main   main  main  main  main  main  reklame"
    "nedre nedre  nedre nedre nedre nedre nedre reklame";
    grid-template-columns: repeat(8, minmax(150px, 1fr));
    grid-template-rows: repeat(8, 1fr);
}
@media(max-width: 630px) {
    .wrapper {
        width: 100vw;
        grid-template-areas: 
        "logo   title"
        "side   side"
        "image1 info"
        "image2 info"
        "main   main";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

@media(max-width: 400px) {
    .wrapper {
        width: 100vw;
        grid-template-areas: 
        "title"
        "side"
        "image1"
        "info"
        "image2"
        "main";
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, minmax(50px, 1fr));
    }
}

.box { 
    background-color: #888;
}

/* Setter grid-areas på id'ene */
#logo {
    grid-area: logo;
    background-image: url(Bilder/logo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#title {
    grid-area: title;
}
#image1 {
    grid-area: image1;
}
#image2 {
    grid-area: image2;
}
#info {
    grid-area: info;
}
#side {
    grid-area: side;
}
#main {
    grid-area: main;
}
#bottom {
    grid-area: nedre;
}
#reklame {
    grid-area: reklame;
    background-image: url(Bilder/reklame.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    filter: brightness(0.9);
}
#reklame p {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    width: 30px;             /* firkant */
    height: 30px;            /* firkant */
    margin: 0;
    background-color: #555;
    opacity: 0.75;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;         /* størrelsen på X */
    cursor: pointer;
    }
